#services.services {
  width: 90%;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  font-family: inherit !important;
  .ant-collapse-header-text {
    font-weight: bolder;
  }

  div.ant-collapse {
    font-family: inherit !important;
  }

  .ant-collapse-content-box {
    text-align: justify;
  }
}
