.scrollToTop {
  cursor: pointer;
  border-radius: 50%;
  position: fixed;
  top: 80%;
  right: 40px;
  transform: scale(1);
  transition: transform 0.25s ease;
  img {
    width: 55px;
  }
}

.scrollToTop:hover {
  transform: scale(1.2);
}
