#home-container {
  .inner-section-one {
    background-color: #232932;
    // padding: 150px 0px 220px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 159px);
    .inner-div-one {
      max-width: 900px;
      margin: auto;
      color: #232932;
      color: #fff;
      text-align: center;
      .first-h1 {
        margin-top: 0;
        margin-bottom: 50px;
        font-size: 40px;
        font-weight: 800;
        line-height: 1.5;
        .your {
          border-radius: 10px;
          box-shadow: 0px 1px 2px 0px rgba(137, 57, 153, 0.7),
            1px 2px 4px 0px rgba(137, 57, 153, 0.7),
            2px 4px 8px 0px rgba(137, 57, 153, 0.7),
            2px 4px 16px 0px rgba(137, 57, 153, 0.7);
          padding: 5px 10px;
          color: rgb(137, 57, 153);
          // background-color: #232932;
          // background-color: #fff;
        }
      }
      .second-h1 {
        animation: showHide 1s infinite alternate;
      }
    }
  }

  .inner-section-two {
    // background-color: #232932;
    padding: 50px 0px 50px 0;
    .inner-div-two {
      max-width: 900px;
      margin: auto;
      color: #232932;
      // color: #fff;
      text-align: center;
      .first-h1 {
        margin-bottom: 50px;
        font-size: 40px;
        font-weight: 800;
        .your {
          border-radius: 10px;
          box-shadow: 0 4px 22px rgba(137, 57, 153, 0.16);
          padding: 5px 10px;
          color: rgb(137, 57, 153);
          background-color: #232932;
        }
      }
      .ul-section {
        display: flex;
        flex-wrap: wrap;
        list-style-position: inside;
        padding: 0;
        li {
          background-color: white;
          padding: 30px 60px;
          color: #232932;
          margin: 20px 20px;
          flex: 1 1 250px;
          border-radius: 15px;
          box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
          font-weight: 700;
          font-size: 17px;
        }
      }
    }
  }
}
.home-number-section {
  .home-number-div {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style-position: inside;
    padding: 0;
    margin: auto;
    margin-top: 100px;
    div.in {
      background-color: white;
      // padding: 30px 60px;
      color: #232932;
      margin: 20px 20px;
      border-radius: 50%;
      width: 250px;
      height: 250px;
      // flex: 1 1 250px;
      box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
      font-weight: 700;
      font-size: 17px;
      display: flex;
      justify-content: center;
      align-items: center;
      p {
        text-align: center;
        font-weight: 500;
      }
    }
  }
}

@keyframes showHide {
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
