.header-container {
  box-shadow: 4px 4px 10px 0 rgba($color: #000000, $alpha: 0.05);
  background-color: #fff;
  padding: 10px;
  position: sticky;
  z-index: 2 !important;
  top: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 0;
  margin: 0 auto;
  margin-bottom: 15px;
  max-width: 900px;

  #logo {
    font-size: 30px;
    color: #893999;
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 700;
    // margin-right: 70px;

    a {
      color: #893999 !important;
      text-decoration: none;
    }
  }

  nav {
    display: flex;
    align-items: baseline;

    div {
      margin-right: 15px;
      position: relative;
      padding-bottom: 3px;

      a {
        text-decoration: none;
        color: #232932;
        transition: all 0.25s ease;
      }

      a:hover {
        color: #893999 !important;
      }
    }

    div::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 1.5px;
      background-color: #893999;
      transform: scaleX(0);
      transform-origin: bottom right;
      transition: all 0.45s ease;
    }

    div:hover::after {
      transform: scaleX(1);
      transform-origin: bottom left;
    }
  }

  #menu {
    .menu {
      display: none;
      cursor: pointer;
    }
  }

  #contact {
    a {
      text-decoration: none;
      color: #232932;
    }
    a:hover {
      color: #893999 !important;
      text-decoration: underline;
    }
  }
}

.hamburger-menu {
  display: none;
}

@media only screen and (max-width: 760px) {
  header {
    padding: 15px 0;

    nav {
      display: none;
    }

    #logo {
      font-size: 25px;
      font-weight: 700;
    }

    #menu {
      .menu {
        width: 25px;
        cursor: pointer;
        display: block;
        margin-left: 10px;
      }
    }
  }
  .hamburger-menu {
    position: sticky;
    z-index: 1 !important;
    background-color: white;
    top: 95px;
    display: block;
    padding: 10px;
    text-align: center;
    height: 0;
    opacity: 0;
    transform: translateY(-300px);
    transition: all 0.25s ease-out;

    div {
      margin-bottom: 10px;

      a {
        text-decoration: none;
      }
    }
  }

  .hamburger-menu.nav-show {
    height: 100px;
    opacity: 1;
    transform: translateY(0);
  }
}
